doctype html
html
    head
        title Student Data
    body
        h2 Student Data
        p Roll No: #{student.rollNo}
        p Name: #{student.name}
        p Division: #{student.division}
        p Email: #{student.email}
        p Subject: #{student.subject}
